.comment-container{
    width: 60%;
}
.comment-area{
    resize: none;
    overflow: hidden;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: border 0.2s ease;
}
.comment-area:focus{
    border: 2px solid rgba(15, 68, 158,0.7);
}