.comment-container{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.comment-area{
    resize: none;
    overflow: hidden;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: border 0.2s ease;
}
.comment-area:focus{
    border: 2px solid rgba(15, 68, 158,0.7);
}