.ql-align-left img {
  display: block;
  margin: 0;
}

.ql-align-center img {
  display: block;
  margin: 0 auto;
}

.ql-align-right img {
  display: block;
  margin: 0;
    text-align: right;
  }
  .ql-toolbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 10; /* Ensure it stays on top of other content */
    background-color: white;
  }
  .op-btn{
    margin-right: 2%;
  }
  .op-btn{
    /* background-color: rgba(35, 93, 144, 0.7); */
    background-color: #1666b7;
  }
  .op-btn:hover{
    background-color: rgb(112, 140, 206);
  }
  .op-btn{
    font-family: sans-serif;
  }
  #title-input{
    border-radius: 5px;
    text-align: center;
    transition: border 0.1s ease;
  }
  #title-input:focus{
    outline: none;
    border: 1.5px solid rgb(16, 79, 156);
  }
.alert-image{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin-right: 5%;
  height: 50px;
  position: fixed;
  z-index: 100;
}
.ql-editor,.summary {
  font-size: 1.2rem; /* Change this value to your desired font size */
}

textarea:focus {
  border-color: white; /* Border color when focused */
  outline: none; /* Removes the default focus outline */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Optional: adds a subtle glow effect */
}