.for-container{
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navButton{    
    background: inherit;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0px;
}
.navButton:hover{
    text-decoration: underline;
    background-color: inherit;
}

.register{
    font-size: 0.8em;
    border: none;
    background-color: rgba(133, 218, 212);
    font-weight: normal;
    color: black
}
.register:hover{
    background-color: rgb(92, 172, 185);
}
.logout{
    color: white
}
.logout:hover{
    color: rgb(187, 202, 185)
}

.navMobile{
    background-color: inherit;
    border: none;
}

.navMobileItems:hover{
    background-color: rgb(17, 80, 157);
    color: white
}

@media (max-width: 1000px){
    .for-container{
        justify-content: space-between;
    }
}

