#comment-container{
    animation: slide-in 0.4s ease-in-out ;
}
@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

h2{
    margin-bottom: 2px;
    font-weight: bolder;
}
.blog-direction{
    flex-direction: row-reverse;
}
p{
    font-family: sans-serif;
}

.blog-row{
    width: 100%;
    box-shadow: 0px 00px 10px 0px rgba(184, 156, 156, 0.6);
    margin: 0px;
}

@media(max-width: 767px){
        .blog-row{
        width: 100%;
    }
    .img-container{
        justify-content: center;
        align-items: center;
        margin-bottom: 8%;
    }   
}

@media(max-width: 1450px){
        .blog-row{
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    }
}

.img-container{
    padding: 0px;
    margin: 0px;
    display: flex;
}
